CROPS_SUBDIR=
DB_ENGINE=
DJANGO_ALLOWED_HOSTS=
DJANGO_DEBUG=
DJANGO_SECRET_KEY=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_USERNAME=
FUZZY_ACCEPT_THRESHOLD=
FUZZY_EXACT_THRESHOLD=
FUZZY_REJECT_THRESHOLD=
ITMS_API_BASE_URL=
ITMS_FAILURE_INJECTION_RATE=
ITMS_LOGIN_ENDPOINT=
ITMS_PASSWORD=
ITMS_REFRESH_ENDPOINT=
ITMS_REQUEST_TIMEOUT_SECONDS=
ITMS_SIMULATED_LATENCY_MS=
ITMS_SUBMISSION_BACKEND=
ITMS_USERNAME=
MEDIA_ROOT=
OCR_MIN_CONFIDENCE=
PLATE_DETECTOR_CONF_THRESHOLD=
PLATE_YOLO_WEIGHTS=
USE_PADDLEOCR=
VAULT_SUBDIR=